{#
   This jinja2 template should be processed using a python script
   to generate preadverbs.lexc.
#}

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!                         !!
!!   PV lexicons start     !!
!!                         !!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

LEXICON PreadverbRoot
LexPA ;
AdverbStems ;

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!                         !!
!!        Lexical PV       !!
!!                         !!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

LEXICON LexPA
LexPAAny ;
PreadverbEnd ;

{{ load_pre_element_csv([("PV_lex.csv", "PVLex/")], "LexPABoundary", "Any") }}
{{ load_pre_element_csv([("PV_qnt.csv", "PVQnt/")], "LexPABoundary", "Any") }}
{{ load_pre_element_database("PVLex/","LexPABoundary") }}
{{ load_pre_element_database("PVQnt/","LexPABoundary") }}

LEXICON LexPABoundary
0:- LexPA ;

LEXICON PreadverbEnd
0:%<%< AdverbStems ;
