{#
   This jinja2 template should be processed using a python script
   to generate prenouns.lexc.
#}

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!                         !!
!!   PV lexicons start     !!
!!                         !!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

LEXICON PrenounRoot
LexPN ;
NounStems ;

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!                         !!
!!        Lexical PV       !!
!!                         !!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

LEXICON LexPN
LexPNAny ;
End ;

{{ generate_pre_element_sub_lexicons([("PV_lex.csv", "PNLex/"), ("PV_qnt.csv", "PNQnt/")], "LexPN") }}

LEXICON End
0:%<%< NounStems ;
