{#
   This jinja2 template should be processed using a python script
   to generate prenouns.lexc.
#}

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!                         !!
!!   PV lexicons start     !!
!!                         !!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

LEXICON PrenounRoot
LexPN ;
NounStems ;

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!                         !!
!!        Lexical PV       !!
!!                         !!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

LEXICON LexPN
LexPNAny ;
PrenounEnd ;

{{ load_pre_element_csv([("PV_lex.csv", "PNLex/")], "LexPNBoundary", "Any") }}
{{ load_pre_element_csv([("PV_qnt.csv", "PNQnt/")], "LexPNBoundary", "Any") }}
{{ load_pre_element_database("PNLex/","LexPNBoundary") }}
{{ load_pre_element_database("PNQnt/","LexPNBoundary") }}

LEXICON LexPNBoundary
0:- LexPN ;

LEXICON PrenounEnd
0:%<%< NounStems ;
