{#
   This jinja2 template should be processed using a python script
   to generate preverbs.lexc.
#}

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!                         !!
!!   PV lexicons start     !!
!!                         !!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

LEXICON PreverbRoot
SubPV ;
VerbStems ;

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!                         !!
!!   Subordinating PV      !!
!!                         !!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

LEXICON SubPV
@U.Order.Cnj@ SubPVPlainConjunct ;
TensePV ;

LEXICON SubPVPlainConjunct
ChCnj+:0 ChCnjPV ;
{{ load_pre_element_csv([("PV_sub.csv", "PVSub/")], "SubPVBoundary", "PlainConjunct") }}

LEXICON ChCnjPV
@U.ChCnj.On@ TensePVChangedConjunct ;
@U.ChCnj.On@ DirPVChangedConjunct ;
@U.ChCnj.On@:@U.ChCnj.On@%<ChCnj%> TensePV ;

LEXICON SubPVBoundary
0:- TensePV ;

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!                         !!
!!        Tense PV         !!
!!                         !!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

LEXICON TensePV
TensePVAny ;
@U.Order.Ind@ TensePVIndependent ;
@U.Order.Cnj@ TensePVPlainConjunct ;
DirPV ;

{{ generate_pre_element_sub_lexicons([("PV_tns.csv", "PVTense/")], "TensePV") }}

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!                         !!
!!     Directional PV      !!
!!                         !!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

LEXICON DirPV
DirPVAny ;
@U.Order.Ind@ DirPVIndependent ;
@U.Order.Cnj@ DirPVPlainConjunct ;
RelPV ;

{{ generate_pre_element_sub_lexicons([("PV_dir.csv", "PVDir/")], "DirPV") }}

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!                         !!
!!       Relative PV       !!
!!                         !!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

LEXICON RelPV
RelPVAny ;
@U.Order.Ind@ RelPVIndependent ;
@U.Order.Cnj@ RelPVPlainConjunct ;
LexPV ;

{{ generate_pre_element_sub_lexicons([("PV_rel.csv", "PVRel/")], "RelPV") }}

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!                         !!
!!        Lexical PV       !!
!!                         !!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

LEXICON LexPV
LexPVAny ;
@U.Order.Ind@ LexPVIndependent ;
@U.Order.Cnj@ LexPVPlainConjunct ;
PreverbEnd ;

{{ generate_pre_element_sub_lexicons([("PV_lex.csv", "PVLex/"), ("PV_qnt.csv", "PVQnt/")], "LexPV") }}


LEXICON PreverbEnd
0:%<%< VerbStems ;